<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:-40px; margin-bottom:-40px;">
                {% comment %} <h2 class="section-heading">We've got what you need!</h2> {% endcomment %}
                {% comment %} <hr class="light"> {% endcomment %}
                <p class="text-faded">我们正在迎来区块链大爆发的时代，</p>
                <p class="text-faded">各类公有链将逐步侵蚀现有的物理世界和互联网世界。</p>
                <p class="text-faded">不论共识算法如何，权益池聚合了零散用户的币力，</p>
                <p class="text-faded">拥有区块链的出块权、收益权、投票权，</p>
                <p class="text-faded">是未来区块链世界的重要基础设施。</p>
                <p class="lead"> <strong>链池将为用户带来安全稳定的收益，</strong></p>
                <p class="lead"><strong>并带领大家畅游未来的区块链世界。</strong></p>
                {% comment %} <a href="#" class="btn btn-default btn-xl">Get Started!</a> {% endcomment %}
            </div>
        </div>
    </div>
</section>
