<section class="no-padding" id="portfolio">
    <div class="container-fluid center" style="font-family:'Hind', 'Open Sans', sans-serif;">
        <div class="row">
            {% comment %} <div class="col-lg-2 col-sm-3"> {% endcomment %}
                {% comment %} <a href="https://bytom.io/" class="portfolio-box text-center"> {% endcomment %}
                    {% comment %} <img src="img/coin/bytom.png" class="img-responsive" alt=""> {% endcomment %}
                    {% comment %} Bytom {% endcomment %}
                {% comment %} </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="col-lg-2 col-sm-3">
                <a href="https://eos.io/" class="portfolio-box text-center" target="_blank">
                    <img src="img/coin/eos.png" class="img-responsive" alt="">
                    EOS
                </a>
            </div>
            <div class="col-lg-2 col-sm-3">
                <a href="https://www.cardanohub.org/" class="portfolio-box text-center" target="_blank">
                    <img src="img/coin/cardano.png" class="img-responsive" alt="">
                    Cardano
                </a>
            </div>
            <div class="col-lg-2 col-sm-3">
                <a href="https://cosmos.network/" class="portfolio-box text-center" target="_blank">
                    <img src="img/coin/cosmos.png" class="img-responsive" alt="">
                    Cosmos
                </a>
            </div>
            <div class="col-lg-2 col-sm-3">
                <a href="https://irisnet.org/" class="portfolio-box text-center"  target="_blank">
                    <img src="img/coin/iris.png" class="img-responsive" alt="">
                    Iris
                </a>
            </div>
            <div class="col-lg-2 col-sm-3">
                <a href="https://filecoin.io/" class="portfolio-box text-center"  target="_blank">
                    <img src="img/coin/filecoin.png" class="img-responsive" alt="">
                    Filecoin
                </a>
            </div>
            <div class="col-lg-2 col-sm-3">
                <a href="https://polkadot.network/" class="portfolio-box text-center"  target="_blank">
                    <img src="img/coin/polkadot.png" class="img-responsive" alt="">
                    Polkadot
                </a>
            </div>
            {% comment %} <div class="col-lg-2 col-sm-3"> {% endcomment %}
                {% comment %} <a href="https://getmonero.org/" class="portfolio-box text-center"> {% endcomment %}
                    {% comment %} <img src="img/coin/monero.png" class="img-responsive" alt=""> {% endcomment %}
                    {% comment %} Monero {% endcomment %}
                {% comment %} </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        </div>
        <br>
        {% comment %} <div class="row"> {% endcomment %}
            {% comment %} <div class="col-lg-2 col-sm-3"> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="col-lg-2 col-sm-3"> {% endcomment %}
                {% comment %} <a href="https://aion.network/" class="portfolio-box text-center"> {% endcomment %}
                    {% comment %} <img src="img/coin/aion.png" class="img-responsive" alt=""> {% endcomment %}
                    {% comment %} AION {% endcomment %}
                {% comment %} </a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </div>
</section>
<style type="text/css">
	.img-responsive{
	    margin:0 auto
	}
</style>