<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/cp.png" style="width:200px;" alt="ChainPool">
            <h1 style="font-weight: 400;">链池 : POS多链权益池</h1>
            {% comment %} <hr> {% endcomment %}
            <br>
            {% comment %} <p class="lead">PoS, PoW, PoR</p> {% endcomment %}
            {% comment %} <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> {% endcomment %}
        </div>
    </div>
</header>
