<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% comment %} <h2 class="section-heading">At Your Service</h2> {% endcomment %}
                {% comment %} <hr class="primary"> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary"></i>
                    <h3>去中心化</h3>
                    <p class="text-muted">采用智能合约自动管理</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>安全</h3>
                    <p class="text-muted">银行级别机房与加密机</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-superscript wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>多样化</h3>
                    <p class="text-muted">支持 PoS，PoW，PoR 等多类型链</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>低服务费</h3>
                    <p class="text-muted">仅收取极低的服务费用</p>
                </div>
            </div>
        </div>
    </div>
</section>
