<section id="team" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Team</h2>
                {% comment %} <hr class="primary"> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/gguoss">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                    <h4>郭光华</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                </div>
                <div class="service-box">
                    <a href="http://chainx.org/">
                    <i class="fa fa-2x fa-twitter wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </a>
                    <h4>岳利鹏</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/icodezjb">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h4>赵建兵</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/Akagi201">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h4>刘博</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/liuchengxu">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h4>徐留成</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/lilymoana">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h4>许莉</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://www.linkedin.com/in/%E5%88%9A-%E6%9D%8E-997193bb/?locale=en_US">
                    <i class="fa fa-2x fa-linkedin wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h4>李刚</h4>
                </div>
            </div>
        </div>
    </div>
</section>
