<section id="team" style="margin-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Team</h2>
                {% comment %} <hr class="primary"> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/gguoss">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                    <p>郭光华</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                </div>
                <div class="service-box">
                    <a href="http://chainx.org/">
                    <i class="fa fa-2x fa-home wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </a>
                    <p>岳利鹏</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/icodezjb">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>赵建兵</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/Akagi201">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>刘博</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/liuchengxu">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>徐留成</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/lilymoana">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>许莉</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/github8577">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>刘晓广</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="#">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>吴广</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/jerry-sl">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>孙磊</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="service-box">
                    <a href="https://github.com/zhang-dong-dong">
                    <i class="fa fa-2x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <p>张东东</p>
                </div>
            </div>
        </div>
    </div>
</section>
